<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="./CSS/login.css" />
    <link rel="stylesheet" type="text/css" href="./CSS/global.css" />
  </head>
  <body>
    <div class="container">
      <form id="login-form">
        <div class="form-control">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="form-control">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>
        <input type="submit" value="Login" />
      </form>
      <p id="error-message" class="error"></p>
    </div>
    <script src="./JS/login.js"></script>
  </body>
</html>
