/* Add some basic styles */
body {
  background: linear-gradient(90deg, #000000, #ffffff);
  font-family: Times New Roman, sans-serif;
}

form {
  background: linear-gradient(90deg, #000000, #ffffff);
  border-radius: 5px;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  width: 20%;
  text-align: center;
  background: #ffffff;
  color: #000000;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 3px;
}

input[type="submit"] {
  background: linear-gradient(90deg, #000000, #ffffff);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: linear-gradient(90deg, #ffffff, #000000);
}

.error {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}
