/* Add some basic styles */
body {
  user-select: none;
  font-family: Times New Roman, sans-serif;
  display: flex;
  justify-content: center;
  background-color: #CDC6AE;
  color: white;
}

.button {
  display: inline-block;
  padding: 8px 15px;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 40px;
  width: 100px;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); /* black with 30% opacity */
  cursor: pointer;
}

.button:hover {
  background-color: #2684b7;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}


.ripple {
  position: relative;
  overflow: hidden;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #2da5e5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.form-control{
  padding: 10px;
}


#login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  margin-top: 25vh;
  background: linear-gradient(to bottom right, #4caf4fc1, #1dd7a5d7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

input{
  user-select: all;
  outline: none;
  border-radius:3px ;
  border: none;
  padding: 6px;
  font-size: 15px;
  margin: 5px;
}


.error {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}

