<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="./CSS/login.css" />
    <link rel="stylesheet" type="text/css" href="./CSS/global.css" />
  </head>
  <body>
    <div class="container">
      <div id="login-form">
        <h1>Log In </h1>
        <div class="form-control">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="form-control">
          <label for="password">Password </label>
          <input type="password" id="password" name="password" required />
        </div>
        <button  id="login" type="submit"  class="button ripple" >Login<span class="ripple-effect"></span></button>

      </div>
      <p id="error-message" class="error"></p>
    </div>
    <script src="./JS/login.js"></script>
    <script>
      // ripple effect 
        function createRipple(event) {
          const button = event.currentTarget;

          const circle = document.createElement("span");
          const diameter = Math.max(button.clientWidth, button.clientHeight);
          const radius = diameter / 2;

          circle.style.width = circle.style.height = `${diameter}px`;
          circle.style.left = `${event.clientX - button.offsetLeft - radius}px`;
          circle.style.top = `${event.clientY - button.offsetTop - radius}px`;
          circle.classList.add("ripple");

          const ripple = button.getElementsByClassName("ripple")[0];

          if (ripple) {
            ripple.remove();
          }
          button.appendChild(circle);
        }

        const button = document.getElementById("login");
        button.addEventListener("click", createRipple);
        button.addEventListener("click", Login);

        const errorMessage = document.getElementById("error-message");




        async function Login(event){
          event.preventDefault();

          const username = document.getElementById("username").value;
          const password = document.getElementById("password").value;

          try {
            const response = await fetch("/login", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({ username, password }),
            });

            const data = await response.json();

            if (response.ok) {
              window.location.href = data.redirectUrl;
            } else {
              errorMessage.innerText = data.error;
            }
          } catch (error) {
            console.error(error);
            errorMessage.innerText =
              "An error occurred while logging in. Please try again later.";
          }
        }
      

    </script>
  </body>
</html>
